embed{
	width: 100%;
	height: 100%;
}
.uno{
	width: 99vw;
	height: 99vh;
	text-align: center;
}

.uno img{
	width: 20%;
}

.uno p{
	font-size: 30px;
}
.cuatro{
	text-align: center;
	width: 99vw;
	height: 99vh;
}

.cuatro embed{
	width: 50%;
	margin: 0 auto;
	height: 75%;
}

.siete{
	text-align: center;
	width: 99vw;
	height: 588vh;
}
.siete1{
		height: 100%;
	width: 75%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3%;

}
.siete1 img{
	width: 100%;
	height: 100%;
}


.tres{
text-align: center;
	width: 99vw;
	height: 99vh;
}


.tres1{
	margin: 0 auto;
	height: 75%;
	width: 75%;
	grid-gap: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}


.seis{
	text-align: center;
	width: 99vw;
	height: 99vh;
}

.seis embed{
	width: 50%;
	margin: 0 auto;
	height: 75%;
}


.nueve{
	text-align: center;
	width: 99vw;
	height: 99vh;
}

.nueve embed{
	width: 50%;
	margin: 0 auto;
	height: 75%;
}